laber {
  font-size: 1.8em;
}

.center {
  text-align: center;
  margin: 100px auto;
}

.name-column {
  font-family: 'Roboto';
  font-size: 1.4em;
  margin: auto;
}

.modal {
  display: block; 
  margin-top: 300px;
}

.overlay {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}